<form [formGroup]="createForm" (ngSubmit)="create()" class="mb-4">
  <div class="mb-3">
    <label for="title" class="form-label">Title:</label>
    <input
      type="text"
      id="title"
      class="form-control"
      placeholder="Enter book title"
      formControlName="title"
    />
  </div>
  <div class="mb-3">
    <label for="author" class="form-label">Author:</label>
    <input
      type="text"
      id="author"
      class="form-control"
      placeholder="Enter author name"
      formControlName="author"
    />
  </div>
  <button type="submit" class="btn btn-success">Create</button>
</form>
